<aside class="col-3 border border-light bg-light p-2">
    <article class="card mb-3">
        <div class="card-header">
            Utilisateur
        </div>
        <div class="card-body">
            <p><a href="{{path('admin_user_index')}}">Liste des utilisateurs</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Grade
        </div>
        <div class="card-body">
            <p><a href="{{path('admin_jobgrade_index')}}">Liste des grades</a></p>
            <p><a href="{{path('admin_jobgrade_add')}}">Ajouter un grade</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Patient
        </div>
        <div class="card-body">
            <p><a href="#">Liste des patients</a></p>
            <p><a href="#">Ajouter un patients</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Consultations
        </div>
        <div class="card-body">
            <p><a href="#">Liste des consultations</a></p>
            <p><a href="#">Ajouter une consultations</a></p>
        </div>
    </article>
</aside>