<div class="container">
	<h1>Patients</h1>

	<div class="row">
		<div class="d-grid gap-2 col mx-auto">
			<button class="btn btn-secondary">
				<a href="{{path('patients_newPatient')}}" class="text-decoration-none text-light">Nouveau patient</a>
			</button>
		</div>
		<div class="d-grid gap-2 col mx-auto">
			<button class="btn btn-secondary">
				<a href="{{path('patients_list')}}" class="text-decoration-none text-light">Liste des patients</a>
			</button>
		</div>
		<div class="d-grid gap-2 col mx-auto">
			<button class="btn btn-secondary">
				<a href="{{path('patients_medicFolder')}}" class="text-decoration-none text-light">Dossier médicaux</a>
			</button>
		</div>
		<div class="d-grid gap-2 col mx-auto">
			<button class="btn btn-secondary">
				<a href="{{path('patients_newIntervention')}}" class="text-decoration-none text-light">Nouvelle intervention</a>
			</button>
		</div>
		<div class="d-grid gap-2 col mx-auto">
			<button class="btn btn-secondary">
				<a href="#" class="text-decoration-none text-light">Menu 5</a>
			</button>
		</div>
	</div>

</div>
