<div class="container">
	<h1>Accueil direction</h1>

	<div class="row">
		<div class="d-grid gap-2 col mx-auto">
			<button class="btn btn-secondary">
				<a href="{{path('staff_home')}}" class="text-decoration-none text-light">Accueil</a>
			</button>
		</div>
		<div class="d-grid gap-2 col mx-auto">
			<button class="btn btn-secondary">
				<a href="{{path('service_home')}}" class="text-decoration-none text-light">Service</a>
			</button>
		</div>
		<div class="d-grid gap-2 col mx-auto">
			<button class="btn btn-secondary">
				<a href="#" class="text-decoration-none text-light">Menu 3</a>
			</button>
		</div>
		<div class="d-grid gap-2 col mx-auto">
			<button class="btn btn-secondary">
				<a href="#" class="text-decoration-none text-light">Menu 4</a>
			</button>
		</div>
		<div class="d-grid gap-2 col mx-auto">
			<button class="btn btn-secondary">
				<a href="#" class="text-decoration-none text-light">Menu 5</a>
			</button>
		</div>
	</div>

</div>
