<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
	<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
		<a href="/" class="d-flex pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
			<i class="fs-4 bi-hospital"></i>
			<span class="fs-6 ms-2">PILLBOX HILL MEDICAL CENTER</span>
		</a>
		<a class="text-decoration-none text-light" href="#">Bienvenue
		</a>
		<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start " id="menu">
			<li class="nav-item">
				<a href="#" class="nav-link align-middle px-0 text-danger">
					<i class="fs-4 bi-house"></i>
					<span class="ms-1 d-none d-sm-inline ">Home</span>
				</a>
			</li>
			<li>
				<a href="#" class="nav-link px-0 align-middle text-danger">
					<i class="fs-4 bi-people"></i>
					<span class="ms-1 d-none d-sm-inline">Effectifs</span>
				</a>
			</li>
			<li>
				<a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-danger">
					<i class="fs-4 bi-capsule"></i>
					<span class="ms-1 d-none d-sm-inline">Médical
						<i class="bi bi-chevron-down"></i>
					</span>
				</a>
				<ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
					<li class="w-100">
						<a href="#" class="nav-link ms-3 px-0 text-danger">
							<i class="bi bi-person-heart"></i>
							<span class="d-none d-sm-inline">Patients</span>
						</a>
					</li>
					<li>
						<a href="#" class="nav-link ms-3 px-0 text-danger">
							<i class="bi bi-heart-pulse-fill"></i>
							<span class="d-none d-sm-inline">Dossier médical</span>
						</a>
					</li>
					<li>
						<a href="#" class="nav-link ms-3 px-0 text-danger">
							<i class="bi bi-clipboard2-pulse-fill"></i>
							<span class="d-none d-sm-inline">Visite médical</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-danger">
					<i class="fs-4 bi-droplet-fill"></i>
					<span class="ms-1 d-none d-sm-inline">Don du sang
						<i class="bi bi-chevron-down"></i>
					</span>
				</a>
				<ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
					<li class="w-100">
						<a href="#" class="nav-link ms-3 px-0 text-danger">
							<i class="bi bi-person-heart"></i>
							<span class="d-none d-sm-inline">Questionnaire</span>
						</a>
					</li>
					<li>
						<a href="#" class="nav-link ms-3 px-0 text-danger">
							<i class="bi bi-heart-pulse-fill"></i>
							<span class="d-none d-sm-inline">Don</span>
						</a>
					</li>
					<li>
						<a href="#" class="nav-link ms-3 px-0 text-danger">
							<i class="bi bi-heart-pulse-fill"></i>
							<span class="d-none d-sm-inline">Stock sang</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#" class="nav-link px-0 align-middle text-danger">
					<i class="fs-4 bi-car-front-fill"></i>
					<span class="ms-1 d-none d-sm-inline">Parc véhicule</span>
				</a>
			</li>
			<li>
				<a href="#" class="nav-link px-0 align-middle text-danger">
					<i class="fs-4 bi-table"></i>
					<span class="ms-1 d-none d-sm-inline">Facturation</span>
				</a>
			</li>
			<li>
				<a href="#" class="nav-link px-0 align-middle text-danger">
					<i class="fs-4 bi-currency-dollar"></i>
					<span class="ms-1 d-none d-sm-inline">Finances</span>
				</a>
			</li>
			<li>
				<a href="#" class="nav-link px-0 align-middle text-danger">
					<i class="fs-4 bi-box-arrow-left"></i>
					<span class="ms-1 d-none d-sm-inline">Déconnexion</span>
				</a>
			</li>

		</ul>
		<hr>
	</div>
</div>
