{% extends 'base.html.twig' %}

{% block title %}Patients{% endblock %}

{% block body %}
    {% include "_partials/_nav_top.html.twig" %}
    {% include "_partials/_nav_patient.html.twig" %}
    <div class="container">
        
    </div>

{% endblock %}
