{% extends 'base.html.twig' %}

{% block title %}Nouveau patient
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('Assets/css/style.css')}}">
{% endblock %}

{% block body %}
	{% include "_partials/_nav_top.html.twig" %}
	{% include "_partials/_nav_patient.html.twig" %}
	<div class="container">
		<h2 class="mt-3">Nouveau patient</h2>
		<hr>
        <h3>CONFIRMATION</h3>
        
       
    </div>
{% endblock %}