{% extends 'base.html.twig' %}

{% block title %}Erreur 403
{% endblock %}

{% block body %}
	{% include "_partials/_nav_top.html.twig" %}
    <div class="container">
        <h1>Erreur 403</h1>
    </div>
{% endblock %}